{% extends 'base.html.twig' %}

	{% block topbar_widget %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<div class="form-group">
						{{form_widget(courses_form)}}
					</div>
				</div>
				<div class="col-6 col-sm-4 col-md-3 col-xl-2">
					<div class="form-group">
						{{form_widget(school_year_form)}}
					</div>
				</div>
			</div>

		</div>
	{% endblock %}


{% block page_title %}Gestion des projets
{% endblock %}

{% block body %}


	<!-- A corriger-->
	<div class="col mb-2">
		<a href="/teacher/projects/new" class="mb-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
			<i class="fas fa-file fa-sm text-white-50"></i>
			Nouveau projet
		</a>
		{% set tmp_course = null %}

		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-body">
						<table class="table" id="projects-list-table">
							<thead>
								<tr>
									<th data-priority="3">Cours</th>
									<th data-priority="1">Période</th>
									<th data-priority="2">Projet</th>
									<th data-priority="2">Thèmes</th>
									<th data-priority="15">Sit.</th>
									<th data-priority="4">Début</th>
									<th data-priority="5">Fin (dure)</th>
									<th data-priority="14">Type</th>
									<th data-priority="1"></th>
									<th data-priority="1"></th>
								</tr>
							</thead>
							<tbody>
							{% for project in projects %}
								<tr class="align-middle{% if "now"|date('Y-m-d') > project.softDeadline|date('Y-m-d') %} text-muted{% else %} text-primary{% endif %}">
									<td>{{project.course.name}}</td>
									<td>{{project.term.name}}</td>
									<th>{{project.name | upper}}</th>
									<td>{{get_project_topics(project)}}</td>
									<td>{{project.context}}</td>
									<td>{{project.startDate|date("d/m")}}</td>
									<td>{{project.softDeadline|date("d/m")}} ({{project.hardDeadline|date("d/m")}})</td>
									<td><span class="label label-success mr-2" data-toggle="tooltip" data-placement="top" title="Évaluation {{project.assessmentType.description}}">{{project.assessmentType.name}}</span></td>
									<td><a href="/teacher/projects/edit/{{project.id}}" class="btn btn-secondary pull-right"><i class="fas fa-edit"></i> Modifier</a></td>
									<td>
									{% if project.external%}
										<a href="{{path('teacher_manual_assess', {'project_id': project.id}) }}" class="btn btn-secondary pull-right"><i class="fas fa-marker"></i> Coter</a>
									{% endif %}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>



					</div>
				</div>
			</div>
		
			
		</div>

	</div>

{% endblock %}
{% block page_scripts %}
<script>

const params = new URLSearchParams(window.location.search);

$('#school_years_schoolYear').change(function () {
params.set('school_year', $(this).val());
window.location.href = '?' + params.toString();
});

$('#courses_topbar_id').change(function () {
params.set('course_id', $(this).val());
window.location.href = '?' + params.toString();
});
</script>

<script src="{{asset('/js/projects-list.min.js')}}"></script>

{% endblock %}
