{% extends 'base.html.twig' %}

{% block sidebar %}
{{ include("teacher/_sidebar.html.twig") }}
{% endblock %}
{% block topbar %}
{{ include("teacher/_topbar.html.twig") }}
{% endblock %}

{% block title %}Gestion des projets{% endblock %}

{% block body %}


<!-- A corriger-->
<div class="col mb-2">
	<a href="/teacher/projects/new" class="mb-2 d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
		<i class="fas fa-file fa-sm text-white-50"></i>  Nouveau projet
	</a>

	{% for project in projects %}
	<div class="shadow mb-4">
		<div class="card-body">
			<div class="row mb-2" style='border-bottom: 1px dashed lightgray'>
				<div class="col mb-2">
					<h5 class="m-0 font-weight-bold text-primary">{{project.name}}</h5>
					<h6 class="m-0 font-weight-bold text-primary"> {{project.course.name}} / {{project.term.name}} </h6>
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-md-7">
					<q>{{project.context}}</q>
				</div>
				<div class="col text-center">
					<span class="badge badge-success" data-toggle="tooltip" data-placement="top" title="Évaluation {{project.assessmentType.description}}">{{project.assessmentType.name}}</span>
				</div>
				<div class="col text-center">
					<i class="fas fa-play-circle"></i> {{project.startDate|date("d/m")}}
				</div>
				<div class="col text-center">
					<i class="fas fa-pause-circle"></i> {{project.softDeadline|date("d/m")}}
				</div>
				<div class="col text-center">
					<i class="fas fa-stop-circle"></i> {{project.hardDeadline|date("d/m")}}
				</div>
				<div class="col text-center">
					<a href="/teacher/projects/edit/{{project.id}}" class="btn btn-sm btn-secondary float-right"><i class="fas fa-edit"></i> Modifier</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}
{% block page_scripts %}

{% endblock %}
