{% extends 'base.html.twig' %}

{% block page_title %}Résultats simplifiés
{% endblock %}

{% block body %}


	{% if projects | length == 0 %}

		<div class="row">
			<div class="col-xs-12 col mb-2">
				<div class="box">
					<div class="box-body">

						Aucun projet n'a encore été mis en ligne par le professeur.

					</div>
				</div>
			</div>
		</div>

	{% endif %}
	{% for project in projects %}
		<div class="row">
			<div class="col-xs-12 col mb-2">
				<div class="box">
					<div class="box-header">
						<h3>
							{{project.course.name}}
							/
							{{project.name}}
							<br/><small>{{project.term.description}}
								/
								{{project.assessmentType.description}}</small>
						</h3>
						<p class="text-context">{{project.context}}</p>

					</div>
					<div class="box-body">

						<div
							class="dashed-top-border row pt-3 pb-3">
							<!-- COL 1 -->
							<div class="col-md-3 col-sm-12 mb-2">
								<h4 class="text-primary text-uppercase">Remises</h4>
								<div class="flex-d mb-2 lightgallery">
									{% set submitted = false %}
									{% for submission in submissions %}

										{% for submissionFile in submission.submissionFiles  %}
											{% if submission.project.id == project.id %}
												{% set submitted = true %}
												{% if "image" in submissionFile.mime %}

													<a href="{{asset(vich_uploader_asset(submissionFile))}}" data-toggle="lightbox" data-max-width="100%">
														{{ asset(vich_uploader_asset(submissionFile)) | imagine_filter('squared_thumbnail_small') | get_html_media_viewer(submissionFile.mime) }}
													</a>

												{% elseif "video" in submissionFile.mime %}

													{{ asset(vich_uploader_asset(submissionFile)) | get_html_media_viewer(submissionFile.mime) }}

												{% endif %}
											{% endif %}
										{% endfor %}

									{% endfor %}

								</div>
							</div>

							<!-- COL 2 -->
							<div class="col-md-4 col-sm-12 mb-2">
								<h4 class="text-primary text-uppercase">Résultats</h4>
								<div class="d-flex flex-md-row flex-column">
									{% for result in results_sg[project.id] %}

										<div class="progress-group">
												<span class="progress-text">{{ result.name }}</span>
												<span class="progress-number">
													<b>{{ result.percentage | custom_round }}</b>%</span>
												<div class="progress sm">
													<div class="progress-bar progress-bar-{{get_color_from_percentage(result.percentage)}}" style="width: {{ result.percentage | custom_round }}%"></div>
												</div>
										
										</div>
									{% endfor %}
								</div>
							</div>

							<!-- COL 3 -->
							<div class="col-md-5 col-sm-12 mb-2">
								<h4 class="text-primary text-uppercase">Détails de l'évaluation</h4>
								<div class="student-instructions-div">
									<table class="table table-responsive-sm table-sm table-borderless">
										{% set evalue = 0 %}
										{% for assessment in project.assessments %}
											<tr style="border-bottom: 1px solid lightgray;">

												{% for result in assessment.results %}
													{% if result.student == student %}
														{% set evalue = 1 %}
														<td>
															<p>
																{% if assessment.gradingSystem.id == 3 %}
																	<span data-toggle="tooltip" data-placement="right" title="{{assessment.skill.skillsGroup.name}}" class="color-vote gradebook-lsu gradebook-lsu-{{get_color_from_old_letter_vote(result.userLetter)}}">
																		{{result.userLetter}}
																	</span>


																{% elseif assessment.gradingSystem.id == 1 %}
																	<span data-toggle="tooltip" data-placement="right" title="{{assessment.skill.skillsGroup.name}}" class="color-vote gradebook-lsu gradebook-lsu-{{get_color_from_letter_vote(result.userLetter)}}">
																		{{result.userLetter}}
																	</span>

																{% else %}
																	<span data-toggle="tooltip" data-placement="right" title="{{assessment.skill.skillsGroup.name}}" class="number-vote number-result-{{get_color_from_percentage(result.percentage) }}">{{result.percentage | custom_round}}&nbsp;%</span>

																{% endif %}
															</p>
														</td>

														<td class="indicator">
															<p>
																<b>{{assessment.skill.skillsGroup.name}}</b>
																- J'ai
																{{assessment.indicator}}</p>
															{% if (result.comment | length > 2) %}
																<p>
																	<blockquote class="blockquote">&laquo;{{result.comment}}&raquo;</blockquote>
																</p>
															{% endif %}
														</td>

													{% endif %}
												{% endfor %}
												{% if evalue == 0 %}
													<td class="indicator">
														<p>J'ai
															{{assessment.indicator}}</p>
													</td>
												{% endif %}
											</tr>
										{% endfor %}

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	{% endblock %}


	{% block scripts %}
		{{parent()}}
		<script src="{{asset('js/lightgallery-all.min.js') }}"></script>
	{% endblock %}
	{% block stylesheets %}<link type="text/css" rel="stylesheet" href="{{asset('css/lightgallery.min.css') }}"/>
		{{parent()}}
	{% endblock %}
	{% block page_scripts %}
		{{parent()}}
		<script type="text/javascript">
			$(document).ready(function () {
$(".lightgallery").lightGallery();
});

const params = new URLSearchParams(window.location.search);

$('#school_years_schoolYear').change(function () {
params.set('school_year', $(this).val());
window.location.href = '?' + params.toString();
});

$('#students_topbar_id').change(function () {
params.set('student_id', $(this).val());
window.location.href = '?' + params.toString();
});
		</script>
	{% endblock %}
