<!-- Nav Item - Dashboard -->
<li class="nav-item active">
	<a class="nav-link" href="/teacher">
		<i class="fas fa-fw fa-tachometer-alt"></i>
		<span>Tableau de bord</span>
	</a>
</li>

<!-- Divider -->
<hr
class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
	Projets
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed" href="/teacher/projects/manage">
		<i class="fas fa-fw fa-cog"></i>
		<span>Gérer</span>
	</a>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed" href="#">
		<i class="fas fa-fw fa-search-plus"></i>
		<span>Détails</span>
	</a>
</li>

<!-- Divider -->
<hr
class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
	Corrections
</div>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed" href="{{path('teacher_assessments_list')}}">
		<i class="fas fa-fw fa-pencil-alt"></i>
		<span>Évaluer</span>
	</a>
</li>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed" href="{{path('teacher_manual_assess_list')}}">
		<i class="fas fa-marker"></i>
		<span>Encoder en masse</span>
	</a>
</li>


<!-- Divider -->
<hr
class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
	Présences
</div>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed" href="{{path('teacher_attendance_index')}}">
		<i class="fas fa-tasks"></i>
		<span>Encoder</span>
	</a>
	<a class="nav-link collapsed" href="{{path('teacher_attendance_statistics')}}">
		<i class="fas fa-fw fa-chart-line"></i>
		<span>Statistiques</span>
	</a>
</li>

<!-- Divider -->
<hr
class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
	Résultats
</div>

<li class="nav-item">
	<a class="nav-link collapsed" href="{{path('teacher_grade_book' )}}">
		<i class="fas fa-fw fa-table"></i>
		<span>Cahier de cotes</span>
	</a>
</li>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed">
		<i class="fas fa-fw fa-chart-line"></i>
		<span>Simplifiés élève</span>
	</a>
</li>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link">
		<i class="fas fa-fw fa-chart-bar"></i>
		<span>Détaillés élève</span>
	</a>
</li>

<!-- Divider -->
<hr
class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
	Vue d'ensemble
</div>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed" href="{{ path('student_users_gallery') }}">
		<i class="fas fa-fw fa-id-card"></i>
		<span>Trombinoscope</span>
	</a>
</li>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed">
		<i class="fas fa-fw fa-images"></i>
		<span>Gallerie</span>
	</a>
</li>

<!-- Divider -->
<hr
class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
	Configuration
</div>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed" href="/teacher/setup/students">
		<i class="fas fa-fw fa-user"></i>
		<span>Élèves</span>
	</a>
</li>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed" href="/teacher/setup/classes">
		<i class="fas fa-fw fa-users"></i>
		<span>Classes</span>
	</a>
</li>
<li class="nav-item">
	<a class="nav-link collapsed" href="/teacher/setup/courses/">
		<i class="fas fa-fw fa-suitcase"></i>
		<span>Cours</span>
	</a>
</li>
<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
	<a class="nav-link collapsed" href="/teacher/setup/skills/">
		<i class="fas fa-fw fa-graduation-cap"></i>
		<span>Compétences</span>
	</a>
</li>
<hr class="sidebar-divider">
