{% extends 'base.html.twig' %}

{% block page_title %}Présences
{% endblock %}


{% block body %}

	<div class="row">
		<div class="col-md-12 mb-4">
			<div class="box card-gradebook h-100 py-2 ">
				<div class="box-header">
					<h3>Taux de présence
					</h3>
				</div>
				<div class="box-body">
					<table id="table" class="table table-sm table-sm-responsive table-hover">
						<thead>
							<tr>
								<th>Classe</th>
								<th>Nom</th>
								<th>Prénom</th>
								<th class="text-center">Présences</th>
								<th class="text-center">Retards</th>
								<th class="text-center">Absences</th>
								<th>Taux</th>
							</tr>
						</thead>
						<tbody>
							{% for attendance in attendances %}
								<tr>
									<td>
										{{attendance.classe | upper}}
									</td>
									<td>
										{{attendance.lastName | upper}}
									</td>
									<td>
										{{attendance.firstName}}
									</td>
									<td class="text-center">
										{{attendance.present}}
									</td>
									<td class="text-center">
										{{attendance.late}}
									</td>
									<td class="text-center">
										{{attendance.absent}}
									</td>
									<td class="align-middle">
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="background-color:{{get_color_from_attendance_percentage(attendance.percentage | custom_round)}};width: {{attendance.percentage | custom_round}}%;" aria-valuenow="{{attendance.percentage | custom_round}}" aria-valuemin="0" aria-valuemax="100">{{attendance.percentage | custom_round}}%</div>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block page_scripts %}
	<script>
	{{ get_simple_datatables_JS() }}
	</script>
{% endblock %}
