{% extends 'base.html.twig' %}

{% block page_title %}Compétences
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-body">
					<table id="table-skills" class="table table-striped">
						<thead>
							<tr>
								<th>Pôle</th>
								<th>Référence</th>
								<th>Compétence disciplinaire /
									<em>transversale</em>
								</th>
							</tr>
						</thead>
						<tbody>
							{% for skill in skills %}
								<tr>
									<td>{{ skill.skillsGroup.name }}</td>
									<td>{{ skill.shortName }}</td>
									<td>{{ skill.description }}<hr><em>{{ skill.transverseSkill }}</em>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block page_scripts %}
{{ parent() }}

<script>
{{ get_simple_datatables_JS() }}
</script>

{% endblock %}
