{% extends 'base.html.twig' %}

{% block title %}Modifier un cours{% endblock %}
{% block sidebar %}
{{ include("teacher/_sidebar.html.twig") }}
{% endblock %}
{% block topbar %}
{{ include("teacher/_topbar.html.twig") }}
{% endblock %}
{% block body %}
    <h1>Edit Courses</h1>

    {{ include('teacher/courses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('courses_index') }}">back to list</a>

    {{ include('teacher/courses/_delete_form.html.twig') }}
{% endblock %}
