{% extends 'base.html.twig' %}


{% block page_title %}
	{{h1_title}}
{% endblock %}

{% block body %}

	<div class="row">
		{% for classe in classes %}
			<div class="col-md-12 mt-4">
				<h2 class="text-primary">{{classe.description}}</h3>
			</div>


			{% for studentClasse in classe.currentStudents %}

				{% set student = studentClasse.student %}
				<div class="col-xl-2 col-lg-3 col-sm-6 col-12 p-2 mb-2">
					<div class="box">
						<div class="box-header">
							<h3>
								<small class="text-muted">{{student.lastName | title }}</small>
								<br/>
								{{student.firstName | title }}
							</h3>
						</div>

						<div class="box-body">
							<div class="box-header text-center p-2">
								<img class="img-thumbnail img-fluid rounded-circle" src="
																{% if student.userAvatar is not empty %}
																{{ asset(avatar(vich_uploader_asset(student.userAvatar.imageFile)) | imagine_filter('letterbox_thumbnail_small')) }}
																{% else %}
																{{avatar('') ~ 1 ~ student.id * 5}}
																 {% endif %}
															"/>
							</div>
						</div>

						<div class="box-footer" style="min-height: 3.5em;">
							{% if student.motto %}
								<div class="text-center">
									"{{student.motto}}"
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
