{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block stylesheets %}
	<!-- STYLESHEETS -->
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/b-print-1.6.5/fc-3.3.2/fh-3.1.8/r-2.2.7/rg-1.1.2/sp-1.2.2/datatables.min.css"/>
	<link rel="stylesheet" href="{{ asset('css/style.min.css') }}"/>
{% endblock %}

{% block logo_mini %}
	MG
{% endblock %}
{% block logo_large %}
	MediaGrade
{% endblock %}

{% block title %}
	MEDIAGRADE /
	{% block page_title %}{% endblock %}
{% endblock %}

{% block page_subtitle %}{% endblock %}

{% block page_content_before %}
	{% block topbar_widget %}{% endblock %}
{% endblock %}

{% block sidebar_user %}{% endblock %}

{% block sidebar_search %}{% endblock %}

{% block page_content %}
	{% block body %}{% endblock %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- SCRIPTS -->
	<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js') }}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js') }}"></script>


	<!-- DATATABLES -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/b-html5-1.6.5/b-print-1.6.5/fc-3.3.2/fh-3.1.8/r-2.2.7/rg-1.1.2/datatables.min.js"></script>

	{% block page_scripts %}{% endblock %}
{% endblock %}


{% block footer %}
	<footer class="main-footer">

		<div class="copyright text-center my-auto">
			<p>Les médias présents sur ce site sont soumis au droit d'auteur. Toute utilisation non expressement autorisée est strictement interdite.<br/>
				<a href="https://github.com/helinp/MediaGrade">MediaGrade</a>
				v.
				{{get_git_version()}}
				|
				<a class="hidden-print" rel="license" href="http://www.gnu.org/licenses/agpl-3.0.html">GNU AGPLv3 2015-2020</a>, Pierre Hélin</p>
		</div>

	</footer>
{% endblock %}
