{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}


{% block body %}

	<div class="row">
		<div class="col col-md-12">
			<div class="box">
				<div class="box-header dashed-bottom-border">
					<h3>{{student.fullName}}
						<br/>
						<small>{{project.name}}</small>
					</h3>
				</div>

				<div class="box-body" id="lightgallery">
					{% set submitted = false %}
					{% for submission in submissions %}

						{% for submissionFile in submission.submissionFiles  %}
							{% if submission.project.id == project.id %}
								{% set submitted = true %}
								{% if "image" in submissionFile.mime %}

									<a href="{{asset(vich_uploader_asset(submissionFile))}}">
										{{ asset(vich_uploader_asset(submissionFile)) | imagine_filter('letterbox_thumbnail_small') | get_html_media_viewer(submissionFile.mime) }}
									</a>

								{% elseif "video" in submissionFile.mime %}
									<div class="p-2">
										{{ asset(vich_uploader_asset(submissionFile)) | get_html_media_viewer(submissionFile.mime) }}
									</div>
								{% endif %}
							{% endif %}
						{% endfor %}

					{% endfor %}
				</div>

				{% if project.teacherSubmitted %}
					<div class="box-body">
						<a data-toggle="collapse" href="#collapseUpload" role="button" aria-expanded="false" aria-controls="collapseUpload">
							<i class="my-2 fas fa-file-import"></i>
						</a>
						<div class="collapse" id="collapseUpload">
							{{ form_start(submission_form) }}
							<div class="row">
								{% for formSub in submission_form.submissionFiles %}
									<div class="col-12 col-lg-3 p-3">
										{{form_widget(formSub.imageFile)}}
										{{form_widget(formSub.public)}}
									</div>
								{% endfor %}

							</div>
							{{ form_end(submission_form)}}
						</div>
					</div>
				{% endif %}

				<div class="box-body">

					{{ form_start(form) }}
					<table class="table table-sm">
						<thead>
							<tr>
								<th>
									Cpt.
								</th>
								<th>
									Critère
								</th>
								<th>
									Indicateur
								</th>
								<th>
									Pondération
								</th>
								<th>
									Évaluation
								</th>
								<th>
									Commentaire
								</th>
							</tr>
						</thead>
						<tbody>
							{% set i = 0 %}
							{% for result in form.results %}
								<tr>
									<td data-toggle="tooltip" data-placement="top" title="{{ assessments[i].skill.description}}">
										{{ assessments[i].skill.shortName}}
									</td>
									<td>
										{{ assessments[i].criterion.name}}
									</td>
									<td>
										{{ assessments[i].indicator}}
									</td>
									<td>
										{{ assessments[i].maxVote}}
									</td>
									<td>
										{{ form_widget(result.userLetter) }}
									</td>
									<td>
										{{ form_widget(result.comment) }}
									</td>
								</tr>
							</tbody>
							{% set i = i + 1 %}
						{% endfor %}
					</table>
					{{ form_widget(form.save) }}
					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="{{asset('js/lightgallery-all.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link type="text/css" rel="stylesheet" href="{{asset('css/lightgallery.min.css') }}"/>
{% endblock %}

{% block page_scripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function () {
$("#lightgallery").lightGallery();
});
	</script>

{% endblock %}
