{% extends 'base.html.twig' %}

{% block page_title %}Tableau de bord
{% endblock %}



{% block body %}
	<div class="row">
	{% for project in projects %}
		<div class="col-xl-2 col-lg-3 col-md-6 mb-4">
			<div class="box h-100 py-2">
				<div class="box-header">
					<h3>
						{{project.name}}
						<br /><small>
						{{project.course.name}}
						/
						{{project.term.name}}</small>
					</h3>
				</div>
				<div class="box-body">
					<div class="table-max-height">
						<table class="table table-sm table-hover">
							{% for studentClasse in project.course.classe.currentStudents %}
								<tr>
									<td>
										{{studentClasse.student.lastName | upper}}
										{{studentClasse.student.firstName}}
									</td>
									<td>
										{{status[project.id][studentClasse.student.id] | get_submission_status}}
									</td>
									<td>
										<a href="{{path('teacher_assess', {'student_id': studentClasse.student.id, 'project_id': project.id}) }}">
											<i class="fas fa-pencil-alt"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
		</div>

{% endblock %}
