{% extends 'base.html.twig' %}

{% block page_title %}Encoder en masse
{% endblock %}


{% block body %}

	<div class="row">
		<div class="col col-md-12 mb-2">
			<div class="box">
				<div class="box-body">

					{{ form_start(form) }}
					<table class="table table-responsive table-sm table-hover table-striped">
						<thead>
							<tr>
								<th></th>
								{% for assessment in assessments %}
									<th colspan="2">
										{{assessment.criterion.name}}
									</th>
								{% endfor %}
							</tr>
							<tr>
								<th>
									Élève

								</th>
								{%for assessment in assessments %}
									<th>Évaluation (/{{assessment.maxVote}})</th>
									<th>Commentaire</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>

							{% for student in form.students %}


								<tr>
									<td>
										{{students[loop.index0].lastName | upper}}
										{{students[loop.index0].firstName}}
									</td>
									{% for result in student.results %}


										<td>
											{% if result.userVote is defined %}
												{{form_widget(result.userVote)}}
											{% else %}
												{{form_widget(result.userLetter)}}
											{% endif %}
										</td>
										<td>
											{{form_widget(result.comment)}}

										</td>


									{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
					</tbody>
				</table>
				{{ form_widget(form.save) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
