{% extends 'base.html.twig' %}

{% block page_title %}Tableau de bord
{% endblock %}

{% block sidebar %}
	{{ include("student/_sidebar.html.twig") }}
{% endblock %}
{% block topbar %}
	{{ include("student/_topbar.html.twig") }}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-12 mb-4">
			<div class="box box-primary">
				<div class="box-header">
					<h3>
						Résultats de l'année
					</h3>
				</div>
				<div class="box-body">

					<div class="row">
						{% for result in terms_results %}
							<div class="col-md-3">
								<div class="box with-border box-{{get_color_from_percentage(result.percentage)}} box-solid">
									<div class="box-header">
										<h4>{{ result.description }}</h4>
									</div>
									<div class="box-body">
										<div class="inner text-center">
											{{ result.percentage | custom_round }}%
											"{{ get_title_from_percentage(result.percentage) }}"
										</div>
									</div>
									<div class="box-body">
										{% for t_result in sg_results[result.term_id] %}

											<div class="progress-group">
												<span class="progress-text">{{ t_result.name }}</span>
												<span class="progress-number">
													<b>{{ t_result.percentage | custom_round }}</b>%</span>
												<div class="progress sm">
													<div class="progress-bar progress-bar-{{get_color_from_percentage(t_result.percentage)}}" style="width: {{ t_result.percentage | custom_round }}%"></div>
												</div>
											</div>


										{% endfor %}
									</div>

								</div>

							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>


		<div class="col-12 col-md-6  mb-4">
			<div class="box box-primary">
				<div class="box-body">
					<div class="font-weight-bold text-uppercase mb-1">
						Projets en cours
					</div>
					<table class="table table-responsive-sm table-sm">
						<thead>
							<tr>
								<th>Cours</th>
								<th>Projet</th>
								<th>Période</th>
								<th>Deadline</th>
							</tr>
						</thead>
						<tbody>
							{% for project in projects %}
								{% if (project.hardDeadline|date("ymd") >= "now"|date("ymd")) and (project.external == false )%}
									<tr>
										<td>{{project.course.name}}</td>
										<td>{{project.name}}</td>
										<td>{{project.term.description}}</td>
										<td>{{project.softDeadline | date('d/m/y')}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>


				</div>
			</div>
		</div>

		{% if attendance is not empty %}
			<div class="col-12 col-md-6 mb-4">
				<div class="box box-primary">
					<div class="box-body">
						<div class="font-weight-bold text-uppercase mb-1">
							Taux de présence aux cours
						</div>
						<div class="progress-student">
							<div class="progress-bar" role="progressbar" style="background-color:{{get_color_from_attendance_percentage(attendance.percentage | custom_round)}};width: {{attendance.percentage | custom_round}}%;" aria-valuenow="{{attendance.percentage | custom_round}}" aria-valuemin="0" aria-valuemax="100">
								{{attendance.percentage | custom_round}}%
							</div>
						</div>

						<table class="table table-responsive-sm table-sm table-bordered mt-2">
							<tr class="text-center">
								<td>Présences:
									{{attendance.present}}</td>
								<td>Retards:
									{{attendance.late}}</td>
								<td>Absences:
									{{attendance.absent}}</td>
							</tr>
						</table>
						<table class="table table-responsive-sm  table-sm table-hover table-bordered mt-2">
							{% for attendanceR in attendances %}
								<tr>
									<td>{{attendanceR.date | format_date('full', '', 'Europe/Brussels' ) | capitalize}}</td>
									<td class="text-center">{{attendanceR.status}}</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		{% endif %}


		<script></script>

	{% endblock %}
